.btn {
  margin: 4px;
  padding: 10px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  font-family: Roboto, Arial, sans-serif;
  text-transform: uppercase;
  user-select: none;
  border: 1px solid black;

  &:hover {
    font-weight: bold;
  }

  &__create-modal {
    margin: 5px 1px;
    width: 15vw;
    border: 1px solid black;
  }

  &__modal--close {
    padding: 0;
    font-size: 22px;
    line-height: 0;
    border-radius: 50%;
    transform: rotate(45deg);
  }

  &__modal--close:hover {
    color: red;
    font-weight: bold;
  }

  &__action-modal {
    width: 20%;
  }

  &__show-favorites {
    margin-right: 12vw;
  }
}
