html{
    width: 1192px;
    height: 736px;
}
.container, table{
    width: 100%;
    height: 100%;
}

table{
    border: 1px solid grey;
    border-collapse: collapse;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    align-items: center;
    display: flex;
    text-transform: uppercase;
    color: #484848;


}
td, th{
    border: 1px solid grey;
    border-collapse: collapse;
    width: 280px;
    height: 72px;
}
th:first-child{
    width: 313px;
    height: 72px;
}



.line-9{
    height: 112px;
}

.line-1>th:nth-child(2){
    background: #89C331;
    color: #FFFFFF;
    font-size: 24px;
}
.line-1>th:nth-child(3){
    background: #F04A56;
    font-size: 30px;
    color: #FFFFFF;

}
.line-1>th:nth-child(4){
    font-size: 24px;
    color: #FFFFFF;
    background: #20807C;
}
.line-3, .line-5, .line-7, .line-9{
    background: #F2F2F2;
}
.line-4, .line-6, .line-8{
    background: #E3E3E3;
}
.line-2, .line-1>th{
    background: #FAFAFA;
}
.line-1>th{
    font-size: 18px;
}
p{
    font-size: 30px;
    margin: 0;
}
button{
    text-transform: uppercase;
    color: white;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    line-height: 16px;
    border-radius: 5px;
}
.btn-contact{
    width: 195px;
    height: 54px;
    background: #484848;
}
.btn-standart{
    width: 192px;
    height: 51px;
    background: #89C331;
}
.btn-ultimate{
    width: 195px;
    height: 51px;
    background: #F04A56;
}
.btn-premium{
    width: 195px;
    height: 52px;
    background: #20807C;
}
.line-9>th:first-child{
    background: #DDDDDD;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.27);
}
.line-9>th:nth-child(2), .line-9>th:nth-child(4){
    background: #EEEEEE;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.27);
}

.line-9>th:nth-child(3){
    background: #F4F4F4;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.27);
}
svg{

    width: 21px;
    height: 26px;
    fill: #848484;
    vertical-align: top;
}


.price{
    width: 280px;
    height: 89px;
    position: relative;

}
.price>p{
    width: 50%;
    height: 100%;
    font-size: 60px;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    position: absolute;
    bottom: 0;
    top: 25px;
    margin-top: 15px;
}
.price-container{
    width: 50%;
    height: 100%;
    position: absolute;
    right: 20px;
    top: 5px;
}
div>p:nth-child(1){
    width: 50%;
    height: 25%;
    font-size: 24px;
    margin-top: 13px;

}
div>p:nth-child(2){
    font-size: 18px;
    width: 136px;
    height: 28px;
    margin-left: 10px;
}

.line-2{
    width: 280px;
    height: 89px;
}
