.modal-second {
  position: absolute;
  top: calc((100% - 40%)/2);
  left: calc((100vw - 35vw)/2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  width: 517px;
  height: 253px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: ghostwhite;
}

