.modal-first {
  position: absolute;
  top: calc((100% - 40%)/2);
  left: calc((100vw - 35vw)/2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  width: 517px;
  height: 253px;
  border-radius: 3px;
  background-color: #E74C3C;
  color: white;

}

p{
  width: 480px;
  align-self: center;
}
.btn__action-modal{
  margin-bottom: 25px;
  color: white;
}
