.App__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 3em;
    margin: 0 25px ;
    border-bottom: 1px solid grey;
    background-color: whitesmoke;
}
 .App__logo-text {
    margin-left: 12vw;
    font-size: 30px;
    font-weight: bold;
    color: forestgreen;
  }
