.btn {
  margin: 4px;
  padding: 10px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  font-family: Roboto, Arial, sans-serif;
  text-transform: uppercase;
  user-select: none;
  border: 1px solid black;

  &:hover {
    font-weight: bold;
  }

  &__create-modal {
    margin: 5px 1px;
    width: 15vw;
    border: 1px solid black;
  }

  &__modal--close, &__item--delete {
    padding: 0;
    font-size: 22px;
    line-height: 0;
    border-radius: 50%;
    transform: rotate(45deg);
  }

  &__item--delete {
    position: absolute;
    right: 3px;
    top: 9px;
    margin: 0;
    background-color: transparent;
  }

  &__modal--close:hover, &__item--delete:hover {
    color: red;
    font-weight: bold;
  }

  &__action-modal {
    width: 20%;
  }

  &__show-favorites {
    margin-right: 12vw;
  }
}
