.product-item {

  &__title {
    background-color: #f5f5f5;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 19vw;
    margin: 1px;
    padding: 0;
    border: 1px solid darkgrey;
    border-radius: 3px;
  }

  &-img {
    width: 80%;
  }

  &__buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.btn__add-to-cart {
  width: 50%;
  font-size: 12px;
  padding-left: 15px;
  margin-left: 55px ;
}

.img__add-to-favorites {
  cursor: pointer;
  width: 10%;
  height: 75%;
}
