.modal{
  &__container{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
  }
  &__close-btn-container {
    position: absolute;
    right: 5px;

  }
}
.modal-body{
  background-color: white;
  width: 50%;
  align-items: center;
  margin: 35px auto ;
}
.modal__product-box--img{
  width: 50%;
}
.modal__product-box--text-box{
  font-size: 20px;
  font-weight: bold;
}