.password-form {
    display: flex;
    flex-direction: column;

}
.input-wrapper {
    position: relative;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
}

.input-wrapper input {
    min-width: 120px;
    padding: 10px;
    margin-bottom: 24px;
}
.input-wrapper i {
    position: absolute;
    right: 10px;
    top: 12px;
    color: grey;
}
.btn{
    width: 150px;
}

.error {
    width  : 65%;
    margin-top: 15px;
    font-size: 80%;
    color: white;
    background-color: #900;
     -moz-box-sizing: border-box;
    box-sizing: border-box;

    position: absolute;
}

.error.active {
    padding: 0.3em;
}


