body, html{
    margin: 0;
    padding-left:0;
    font-family:'Ubuntu', sans-serif;
    width: 100%;
    height: 100%;

}
.container{
    background: url("..//picture/Фон 1 (1).png") 100% 100%;
    background-size: auto;
    width: 1366px;
    height: 768px;

}

header{
    width: 1366px;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    color: #FFFFFF;
}
.header-left{
    width: 64%;
    height: 100%;
    align-items: center;
    display: flex;
}
.header-left>a{
    justify-items: left;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    padding-left: 79px;
    font-weight: bold;
}
.heager-right{
    width:36%;
    height: 100%;
    justify-content: end;
    display: flex;
    margin-right: 0;
    margin-left: 75px;

}


svg{width: 21px;
    height: 24px;
    color: white;
    fill: white;
}
.header-icon:hover{
    fill:#3CB878;
}

a{
  text-decoration:none;
}

.line{
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
}
li{
    display: inline;
    text-decoration: none;
    padding-left: 25px;
    font-size: 14px;
    justify-content: center;
}
ul{
    display: inline-flex;
    align-items: center;
    margin-right: 79px;
    }

.main-section{
    display: flex;
    justify-content: center;
    margin-top: 54px;
}
form{
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    text-align: center;
}

.header-left>a, .header-link{
    color: white;
}
.header-left>a:hover{
    color: #3CB878;
}
.header-link:hover{
    color: #3CB878;
}

.enter{
    display: flex;
    width: 100%;
    height: 14px;
    align-items: center;
    padding-top: 31px ;
    margin: 0;

}
.form-title{
    width: 45%;
    font-size: 20px;
    line-height: 20px;
    display: flex;
     color: #434343;
}
.enter>a{
    width: 50%;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    color: #3CB878;
    padding-right: 59px;
    justify-content: right;
    font-style: normal;
    font-weight: normal;
    }


.social{
    float: left;
    width: 100%;
    margin-bottom: 31px;
    margin-top: 0;

}
.fb{
    font-size: 16px;
    line-height: 16px;
    align-items: center;
    background-color: #305DB8;;
}

.google{
    font-size: 16px;
    line-height: 16px;
    align-items: center;
    background-color: #DF4A32;;
}

.button{
    width: 160px;
    height: 48px;
    border-radius: 5px;

}
button>a{
    color: white;
}
input{
    width: 324px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin-bottom: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    color: #BEBEBE;
    padding-left:20px;
}
form>p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    margin-left: 0;
}

form>p:before, form>p:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 152px;
    height: 1px;
    border: 1px solid #F2F2F2;
    margin: 5px;
}
.confirm-btn{
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 16px;

}
.terms{
    border: 1px solid black;
    display:inline;
    align-items: center;
    width: 25px;
    height: 14px;
    align-content: center;

}
label>a{
    color: #3CB878;
}
.enter>p::before{
    width: 18px;
    height: 18px;
    background: #3CB878;
    content:'';
    margin-right: 43px;

}

.button>a{
    align-items: center;
    text-align: center;
    display: flex;
    padding-left: 12px;
}
.extra-line{
    width: 38px;
    opacity: 0;
}
.extra-line::before{
    content: "";
    width: 1px;
    height: 28px;
    background: #2B0D09;
    opacity: 0.1;
}
input:focus{
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}
