.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.App__navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 35px;
  width: 3vm;
}


