a{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: red;
    margin: 12px;
    text-decoration: none;

}
.container{
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
    font-family:'Montserrat', sans-serif;
}
.displayed{
    width: 100%;
    display: block;
}
h2{
    text-align: center;
    font-family:'Montserrat', sans-serif;
    padding-top: 15px;
}
p{
    text-align: center;
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    padding: 15px 25px;

}
button{
    border-radius: 4px;
    font-family:'Montserrat', sans-serif;
    background-color: red;
    color: white;
    width: 191px;
    height: 51px;
    padding: 15px;
    margin: 25px;

}
footer{
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 2.4px;
    text-align: right;
    padding:40px 30px;
}
