.container{
    width: 1280px;
    margin: 0 auto;
}
.logo{
    color: black;
    text-decoration: none;
    font-family:"Roboto Light",sans-serif;
    font-style: normal;
    font-size: 80px;
    display: flex;
    align-items: flex-end;
    width: 334px;
    height: 79px;
    left: 0;
    top: 0;
}
.colortext{
    color: deepskyblue;

}

.header-list{
    list-style: none;
    margin-right: 0;
    padding-right: 196px;
    background-color: #35444F;
    text-align: right;
}
li{
    display: inline-block;
}
.header-menu{
    padding: 20px 24px;
    border-left: 1px solid white;
    list-style: none;
    display:block;
    text-decoration: none;
    font-family:"Roboto Light",sans-serif;
    color: white;
    font-style: normal;
    line-height: 28px;
    align-items: flex-end;
    font-size: 24px;

}
.main-link{
    background-color: #222F3A;

}

.box{
    display: inline-block;
    margin-top: 25px;
    width: 400px;
}

.sidebar{
    list-style: none;
    background: white;
    font-family:"Roboto Light",sans-serif;
}
.sidebar-list{
    padding-left: 0;
    margin-left: 0;
    list-style: none;
    width: 344px;
    height: 399px;
    border: 1px  solid black;
}

.sidebar-menu-list{
    text-decoration: none;
    padding: 26px  44px;
    letter-spacing: 1px;
    color:#485863;
    font-family:"Roboto Light",sans-serif;
    background: rgba(0, 0, 0, 0.0001);
    display: flex;
    align-items: center;
    font-size: 27px;
    line-height: 27px;
    text-align: center;
    width: 255px;

}
.right-central-part{
    width: 875px;
    height: 529px;
    background: white;
    border: 1px solid #000000 ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.picture{
    padding-top: 25px;
}
.main-picture{
    width: 320px;
    height: 381px;

}

.text{
    padding:34px;
    padding-left: 405px;
    font-family:"Roboto Light",sans-serif;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    color: #2C2C2C;
}

.footer-list{
    list-style: none;
    padding: 20px 30px;
    background: rgba(99, 105, 110, 0.48);
    text-align: left;

}
.footer-list-menu{
    list-style: none;
    display:block;
    text-decoration: none;
    font-family:"Roboto Light",sans-serif;
    font-size: 28px;
    color: #0C1927;
    font-style: normal;
    line-height: 28px;
    padding-right: 20px;

}
.footer-list-menu:hover{
    text-decoration: revert;
    color: steelblue;

}
.extra-footer-link{
    font-family:"Roboto Light",sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 16px;
    text-decoration: none;
    color: red;
    padding-right: 60px;
    padding-top: 15px;

}
.copyright{
    font-family:"Roboto Light",sans-serif;
    font-size: 24px;
    color: #010101;
    text-decoration: none;
    text-align: right;
    padding-left: 85px;
}

.sidebar-menu-list:hover{
    background:#DBDBDB;
    }

