body, html{
    margin: 0;
    padding-left:0;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 1366px;
    height: 768px;
    left: 0;
    top: 0;
    background:url("../picture/background 1.png");
}

.header{
    float:top;
    height: 81px;
    width: 100%;
}

.left-header{
    float: left;
    width: 35%;
    padding-top:51px ;
    padding-left: 161px;
    text-transform: uppercase;
}
.header-text-main, .header-text{
    margin-top: 0;
    margin-bottom: 0;
    width: 140px;
    color: white;
    font-size: 18px;
}
.header-text-main{
    font-size: 29px;
}

.right-header{
    float: right;
    width: 35%;
    padding-top:46px;
    padding-right: 177px;
    text-align: right;
}
.header-link{
    width: 150px;
    float:left;
    margin-left: 5px;
    text-align: left;
}
.header-logo{
    float: left;
}

.main-section{
    height: 600px;
    width: 100%;
    text-align: center;
    float: left;
    box-sizing: border-box;
    margin-left: 126px;
    padding-right: 155px;
    padding-left: 5px;
}

.gallery .gallery-item{
    overflow: hidden;
    width: 30%;
    float: left;
}
.img-line{
    width: 100%;
    height: 292px;
}
.gallery-item{
    width: 300px;
    height: 255px;
    padding-bottom:37px;
    position: relative;
}
p{
    margin-top: 0;
    color: white;
}

.text-for-picture{
    padding-top: 20px;
}
a{
    font-size: 18px;
    text-decoration: none;
    color: white;
}
.clearfix{
    clear: both;
    font-size: 0;
    height: 0;
}

.footer{
    height: 36px;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 10px;
}
.copyright{
    font-size: 12px;
}

p:hover {
    color: #F26522;
}

.overlay{
    position: absolute;
    width:300px ;
    height: 55px;
    background-color: #F26522;
    margin-left: 31px;
    top: 165px;
    opacity: 0;
}

.price{
    float:left;
    font-size: 20px;
    margin-top:7px;
    margin-left: 16px;
}
.price>p:first-child{
    font-size: 10px;
}
.details{
    float: right;
    width: 42%;
    font-size: 14px;
    line-height: 14px;
    margin-top: 29px;
}

.overlay:hover{
    opacity: 1;
}
.details>p::after {
    content: ">";
    margin-left: 16px;
    margin-right:14px;
}