.btn {
  margin: 2px;
  padding: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  user-select: none;

  &__create-modal {
    margin: 5px 10px;
    width: 15vw;
    border: 1px solid black;
  }

  &__close-modal {
    padding: 0;
    font-size: 22px;
    line-height: 0;
    border-radius: 50%;
    transform: rotate(45deg);
  }

  &__action-modal {
    width: 20%;
  }
}
