li{
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 1px solid black;
    margin: 10px;
    padding-left: 10px;
}
h2{
    text-align: center;
}
ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-flow: wrap;

}
